@{
    ViewData["Title"] = "Home Page";
}

<p>Welcome to Health Center Questionnaires!</p>
<form method="post">
    <div class="input-group mb-1">
        <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" />
        <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" />
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="login-button">Login</button>
        </div>
    </div>
</form>